* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif sans-serif;
  }
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(60, 0%, 48%);
  }
  .container {
    position: relative;
    max-width: 600px;
    width: 100%;
    outline-style: solid;
    outline-color: #fefefd;
    border-radius: 30px;
    padding: 20px 20px 20px;
    background: #0c0c0c;
    box-shadow: 0 10px 10px hwb(250 5% 9% / 0.051);
  }
  .display {
    height: 100px;
    width: 100%;
    outline-style: solid;
    outline-color: #f8f8f7;
    border-radius: 30px;
    text-align: right;
    margin-bottom: 10px;
    font-size: 30px;
    color: #0e0e0d;
    pointer-events: auto;
  }
  .buttons {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 2fr);
    
  }
  .buttons button {
    padding: 20px;
    outline-style: solid;
    outline-color: #f9f9f6;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #c7caca;
  }
  .buttons button:active {
    transform: scale(0.99);
  }
  .operator {
    font-weight: bold;
    color: #070707;
  }